{
  "env": {
    "cjs": {
      "presets": [["@babel/preset-env"]]
    },
    "es": {
      "presets": [["@babel/preset-env", { "modules": false }]]
    }
  },
  "plugins": [
    "@babel/plugin-proposal-unicode-property-regex",
    "@babel/plugin-proposal-export-default-from"
  ]
}
